@page "/settings"

@inject SettingsService Settings
@inject IWpfService WpfService

<div class="p-6">

    @if (Warn)
    {
        <div class="bg-error mb-6 p-4">
            <span class="text-white">
                Flagrum was unable to automatically detect the location of your game files.
                Please ensure Final Fantasy XV is installed on your computer then set the paths below.
            </span>
        </div>
    }

    <EditForm Model="Data">
        <div class="box p-4 mb-6">
            <div class="row mb-3">
                <span class="mr-3" style="width: 250px;">Final Fantasy XV Path</span>
                <Textbox Size="Textbox.Variant.Stretch" @bind-Value="Data.GamePath" IsReadOnly="true"/>
                <Button Icon="folder" Text="Browse" CssClass="ml-4" OnClickAsync="GamePathClicked"/>
            </div>
            <small class="text-grey-600">Default C:\Program Files (x86)\Steam\steamapps\common\FINAL FANTASY XV\ffxv_s.exe</small>
        </div>

        <div class="box p-4 mb-6">
            <div class="row mb-3">
                <span class="mr-3" style="width: 250px;">Binmod List Path</span>
                <Textbox Size="Textbox.Variant.Stretch" @bind-Value="Data.BinmodListPath" IsReadOnly="true"/>
                <Button Icon="folder" Text="Browse" CssClass="ml-4" OnClickAsync="BinmodListPathClicked"/>
            </div>
            <small class="text-grey-600">Default C:\Users\[USERNAME]\Documents\My Games\FINAL FANTASY XV\Steam\[STEAM_USER_ID]\mod\binmod.list</small>
        </div>

        <div class="box p-4 mb-2">
            <div class="row mb-3">
                <span class="mr-3" style="width: 250px;">Workshop ACF Path</span>
                <Textbox Size="Textbox.Variant.Stretch" @bind-Value="Data.WorkshopPath" IsReadOnly="true"/>
                <Button Icon="folder" Text="Browse" CssClass="ml-4" OnClickAsync="WorkshopPathClicked"/>
            </div>
            <small class="text-grey-600">Default C:\Program Files (x86)\Steam\steamapps\workshop\appworkshop_637650.acf</small>
        </div>
    </EditForm>

</div>

@code
{
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    [Parameter]
    public bool Warn { get; set; }

    private SettingsData Data { get; } = new();

    protected override void OnInitialized()
    {
        Data.GamePath = Settings.GamePath;
        Data.WorkshopPath = Settings.WorkshopPath;
        Data.BinmodListPath = Settings.BinmodListPath;
    }

    private async Task GamePathClicked()
    {
        await WpfService.OpenFileDialogAsync(
            "Application (*.exe)|*.exe",
            path =>
            {
                Data.GamePath = path;
                Settings.SetGamePath(path);
                InvokeAsync(StateHasChanged);
                InvokeAsync(Layout.CallStateHasChanged);
            });
    }

    private async Task BinmodListPathClicked()
    {
        await WpfService.OpenFileDialogAsync(
            "Binmod List (*.list)|*.list",
            path =>
            {
                Data.BinmodListPath = path;
                Settings.SetBinmodListPath(path);
                InvokeAsync(StateHasChanged);
                InvokeAsync(Layout.CallStateHasChanged);
            });
    }

    private async Task WorkshopPathClicked()
    {
        await WpfService.OpenFileDialogAsync(
            "Workshop Manifest (*.acf)|*.acf",
            path =>
            {
                Data.WorkshopPath = path;
                Settings.SetWorkshopPath(path);
                InvokeAsync(StateHasChanged);
                InvokeAsync(Layout.CallStateHasChanged);
            });
    }
}