@page "/inspector"
@using System.IO
@using Flagrum.Core.Gfxbin.Gmdl
@using Flagrum.Core.Gfxbin.Gmtl
@inject IWpfService Wpf

<div class="p-6">

    <div class="box p-4 row">
        <span class="flex-grow">Select file to inspect</span>
        <Button Icon="folder" Text="Browse" OnClick="BrowseClicked"/>
    </div>

    @if (Object != null)
    {
        <div class="box mt-6 p-4">
            <ObjectInspector Object="Object"/>
        </div>
    }

</div>

@code
{
    private object Object { get; set; }

    private void BrowseClicked()
    {
        Wpf.OpenFileDialog(
            "Game Model (*.gmdl.gfxbin)|*.gmdl.gfxbin|" +
            "Game Material (*.gmtl.gfxbin)|*.gmtl.gfxbin", // +
    //"Asset Archive (*.earc)|*.earc|" +
    //"FFXV Mod (*.ffxvbinmod)|*.ffxvbinmod",
            path =>
            {
                if (path.EndsWith(".gmdl.gfxbin"))
                {
                    var gpubinPath = path.Replace(".gmdl.gfxbin", ".gpubin");
    // TODO: Show an error to the user if the gpubin is missing
                    if (!File.Exists(gpubinPath))
                    {
                        return;
                    }

                    var modelReader = new ModelReader(File.ReadAllBytes(path), File.ReadAllBytes(gpubinPath));
                    Object = modelReader.Read();
                }
                else if (path.EndsWith(".gmtl.gfxbin"))
                {
                    var materialReader = new MaterialReader(path);
                    Object = materialReader.Read();
                }
                else if (path.EndsWith(".earc") || path.EndsWith(".ffxvbinmod"))
                {
    // TODO: Implement something here
                }

                InvokeAsync(StateHasChanged);
            });
    }
}