@using Flagrum.Web.Features.ModLibrary.Data
@using Microsoft.AspNetCore.Components

<div class="box mt-4">
    <EditForm Model="WeaponStats">
        <div class="p-4">
            <table class="w-full right-align-all-labels">
                <tr>
                    <td>
                        <label>IN-GAME TITLE</label>
                    </td>
                    <td colspan="7" class="pl-4">
                        <Textbox Size="Textbox.Variant.Stretch" @bind-Value="Parent.Mod.GameMenuTitle"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>DESCRIPTION</label>
                    </td>
                    <td colspan="7" class="pl-4">
                        <Textbox Rows="3" Size="Textbox.Variant.Stretch" @bind-Value="Parent.Mod.Description"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>ATTACK</label>
                    </td>
                    <td>
                        <NumberBox @bind-Value="WeaponStats.Attack"/>
                    </td>
                    <td>
                        <label>CRITICAL</label>
                    </td>
                    <td>
                        <NumberBox @bind-Value="WeaponStats.Critical"/>
                    </td>
                    <td>
                        <label>MAX HP</label>
                    </td>
                    <td>
                        <NumberBox @bind-Value="WeaponStats.MaxHp"/>
                    </td>
                    <td>
                        <label>MAX MP</label>
                    </td>
                    <td>
                        <NumberBox @bind-Value="WeaponStats.MaxMp"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>STRENGTH</label>
                    </td>
                    <td>
                        <NumberBox @bind-Value="WeaponStats.Strength"/>
                    </td>
                    <td>
                        <label>VITALITY</label>
                    </td>
                    <td>
                        <NumberBox @bind-Value="WeaponStats.Vitality"/>
                    </td>
                    <td>
                        <label>FIRE RES</label>
                    </td>
                    <td>
                        <NumberBox Max="100" @bind-Value="WeaponStats.Fire"/>
                    </td>
                    <td>
                        <label>ICE RES</label>
                    </td>
                    <td>
                        <NumberBox Max="100" @bind-Value="WeaponStats.Ice"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>MAGIC</label>
                    </td>
                    <td>
                        <NumberBox @bind-Value="WeaponStats.Magic"/>
                    </td>
                    <td>
                        <label>SPIRIT</label>
                    </td>
                    <td>
                        <NumberBox @bind-Value="WeaponStats.Spirit"/>
                    </td>
                    <td>
                        <label>THUNDER RES</label>
                    </td>
                    <td>
                        <NumberBox Max="100" @bind-Value="WeaponStats.Thunder"/>
                    </td>
                    <td>
                        <label>DARK RES</label>
                    </td>
                    <td>
                        <NumberBox Max="100" @bind-Value="WeaponStats.Dark"/>
                    </td>
                </tr>
                <tr>
                    <td class="pt-4">
                        <label class="@(Parent.StatsTotal <= 100 ? "" : "text-error")">@Parent.StatsTotal/100</label>
                    </td>
                    <td colspan="5" class="pl-4 pt-4">
                        <div class="bg-black">
                            <div class="@(Parent.StatsTotal <= 100 ? "bg-accent1-200" : "bg-error")" style="width: @(Parent.StatsTotal <= 0 ? "0" : Parent.StatsTotal > 100 ? "100" : Parent.StatsTotal.ToString())%">&nbsp;</div>
                        </div>
                    </td>
                    <td>
                        <label>BALLISTIC RES</label>
                    </td>
                    <td>
                        <NumberBox Max="100" @bind-Value="WeaponStats.Ballistic"/>
                    </td>
                </tr>
            </table>
        </div>
    </EditForm>
</div>

@code
{
    [CascadingParameter]
    public Configure Parent { get; set; }
    
    private WeaponStatsModel WeaponStats { get; set; }

    protected override void OnInitialized()
    {
        WeaponStats = new WeaponStatsModel(Parent.Mod, () =>
        {
            Parent.StatsTotal = (int)(
                (WeaponStats.MaxHp ?? 0) * 0.2
                + (WeaponStats.MaxMp ?? 0) * 0.2
                + (WeaponStats.Strength ?? 0) * 0.2
                + (WeaponStats.Vitality ?? 0) * 0.2
                + (WeaponStats.Magic ?? 0) * 0.2
                + (WeaponStats.Spirit ?? 0) * 0.2
                + WeaponStats.Fire ?? 0
                + WeaponStats.Ice ?? 0
                + WeaponStats.Thunder ?? 0
                + WeaponStats.Dark ?? 0
                + WeaponStats.Ballistic ?? 0
                + WeaponStats.Attack ?? 0
                + WeaponStats.Critical ?? 0);
            StateHasChanged();
        });
    }
}