<div class="rounded-md @(Node.Selected ? "glow" : "")">
    <div class="rounded-t-md bg-grey-600 px-4 py-3 font-display">
        @Node.Title
    </div>
    <div class="rounded-b-md shadow-md bg-grey-800 text-grey-400 text-sm py-1">
        @{
            var inputs = Node.Ports.Where(p => p.Alignment == PortAlignment.Left);
            var outputs = Node.Ports.Where(p => p.Alignment == PortAlignment.Right);
            var max = Math.Max(inputs.Count(), outputs.Count());

            for (var i = 0; i < max; i++)
            {
                var input = inputs.Count() > i ? inputs.ElementAt(i) as StandardPort : null;
                var output = outputs.Count() > i ? outputs.ElementAt(i) as StandardPort : null;
                <div class="flex flex-row items-center">
                    <div>
                        @if (input != null)
                        {
                            <StandardPortRenderer Port="(StandardPort)input" />
                        }
                    </div>
                    <div class="flex-grow pr-3">
                        @input?.Name
                    </div>
                    <div class="flex-grow text-right pl-3">
                        @output?.Name
                    </div>
                    <div>
                        @if (output != null)
                        {
                            <StandardPortRenderer Port="(StandardPort)output" />
                        }
                    </div>
                </div>
            }

            @if (Node.DataFields.Count() > 0)
            {
                <table class="w-full my-1">
                    @foreach (var field in Node.DataFields)
                    {
                        <tr>
                            <td class="pl-2">
                                @field.Name
                            </td>
                            <td class="px-2">
                                <input type="text" class="w-full bg-grey-900 border border border-dark-700" style="min-width: 100px;" />
                            </td>
                        </tr>
                    }
                </table>
            }
        }
    </div>
</div>

@code
{
    [Parameter]
    public StandardNode Node { get; set; }
}