@page "/lucent"

<div class="flex-grow flex flex-col">
    <div class="relative">
        <img alt="Visual Scripting" src="/pictures/visual_scripting.jpg" class="mx-auto" style="width: 100%; height: auto;"/>
        @* <div class="absolute left-0 top-0 right-0 bottom-0 flex flex-row items-center" style="background-color: rgba(0, 0, 0, 0.5)"> *@
        @*     <div class="mx-auto text-center"> *@
        @*         <img alt="Lucent" src="/pictures/lucent.png" style="width: 150px; height: 150px;" class="mx-auto"/> *@
        @*         <span class="text-white mt-8" style="font-family: 'Montserrat'; letter-spacing: 10px; font-size: 4rem;"> *@
        @*             LUCENT *@
        @*         </span> *@
        @*     </div> *@
        @* </div> *@
        <div class="absolute left-0 bottom-0 right-0" style="height: 100px; background: linear-gradient(0deg, #16191d, transparent);"></div>
    </div>
    <div class="flex-grow flex flex-col items-center" style="background: linear-gradient(0deg, #0b0c0e, #16191d);">
        <div class="px-6 pb-6 flex flex-row items-center">
                <div class="text-center p-6">
                    <img alt="Lucent" src="/pictures/lucent.png" style="width: 140px; height: 140px;" class="mx-auto"/>
                    <span class="text-white mt-2 block" style="font-family: 'Montserrat'; letter-spacing: 10px; font-size: 4rem;">
                        LUCENT
                    </span>
                </div>
                <div class="flex-col flex w-full pl-10">
                    <h1 class="text-grey-300 mb-6">Visual Scripting is here!</h1>
                    <span class="block mb-4">
                        Introducing <strong>Lucent</strong>, a brand new modding tool for creating gameplay mods for FFXV—without the code!<br/><br/>
                        Lucent is <Hyperlink Text="now available on Patreon" Uri="https://patreon.com/Kizari"/>, starting from the second tier.<br/><br/>
                        If you are unable to use Patreon but wish to subscribe to Lucent, please contact me<br/>
                        on <Hyperlink CssClass="" Text="Discord" Uri="https://discord.com/users/148082016821313537"/> or
                        <Hyperlink CssClass="" Text="Twitter" Uri="https://twitter.com/KizariXV"/>
                        to arrange an alternative.
                    </span>
                </div>
            </div>
    </div>
</div>