@using Flagrum.Web.Services.Vendor.Patreon
@inherits LayoutComponentBase
@inject AppStateService AppState
@inject ProfileService Profile
@inject FlagrumDbContext Context

<div class="flex flex-row h-full">
    @if (Profile.IsReady)
    {
        <CascadingValue Value="this">
            <MainMenu @ref="Menu"/>
        </CascadingValue>
        <div class="main-content-view flex-grow h-full bg-grey-900 overflow-auto flex flex-col">
            @if (AppState.IsIndexing)
            {
                <div class="row py-2 px-4 text-grey-400" style="background-color: rgba(5, 5, 1, 0.35)">
                    <LoadingIndicator/>
                    <span class="flex-grow">
                        Indexing game files, this may take several minutes, but will only need to happen once
                    </span>
                </div>
            }
            <div class="flex-grow bg-grey-900 overflow-auto flex flex-col">
                <CascadingValue Value="this">
                    @Body
                </CascadingValue>
            </div>
        </div>
    }
    else
    {
        <div class="bg-grey-900 flex-grow h-full overflow-auto flex flex-col">
            <CascadingValue Value="this">
                <Flagrum.Web.Features.Settings.SettingsPage Warn="true"/>
            </CascadingValue>
        </div>
    }
</div>

<AlertModal @ref="Alert"/>

@code
{
    private MainMenu Menu { get; set; }
    private AlertModal Alert { get; set; }
    
    protected override void OnInitialized()
    {
        if (!Context.AssetExplorerNodes.Any())
        {
            AppState.IsIndexing = true;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Check for membership
        var result = await Profile.CheckPatreonStatus();

        switch (result)
        {
            case PatreonStatus.TokenExpired:
                Alert.Open("Warning", "Patreon Link Expired", 
                    "Unfortunately, since you haven't used Flagrum for some time, Patreon won't allow us to automatically renew your account link. Please visit the settings page and relink your Patreon account.",
                    null);
                break;
            case PatreonStatus.AuthorisationFailed:
                Alert.Open("Warning", "Patreon Authentication Failed",
                    "Something went wrong and your Patreon account was unable to be authorised. Please try again. If this problem persists, please open an issue on GitHub or contact me on Discord or Patreon for assistance.",
                    null);
                break;
            case PatreonStatus.AuthorisationStateChanged:
                StateHasChanged();
                break;
        }
    }

    public void CallStateHasChanged()
    {
        StateHasChanged();
    }

    public void UpdateMenuState() => Menu.CallStateHasChanged();
}