@inherits LayoutComponentBase
@inject AppStateService AppState
@inject Settings Settings

<div class="flex flex-row h-full">
    @if (Settings.IsReady)
    {
        <MainMenu/>
        <div class="main-content-view flex-grow h-full bg-grey-900 overflow-auto flex flex-col">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
    }
    else
    {
        <CascadingValue Value="this">
            <Flagrum.Web.Features.Settings.SettingsPage Warn="true"/>
        </CascadingValue>
    }
</div>

@code
{
    public void CallStateHasChanged()
    {
        StateHasChanged();
    }
}