@using System.Diagnostics
@inject IWpfService WpfService
@inject SettingsService Settings

<CascadingValue Value="this">
    <Bootstrapper/>
    <div class="h-full bg-dark flex-shrink-0 flex flex-col border-dark-550 border-r">
        <MenuItem Icon="apps" Text="Mod Library" DefaultActive="true" Uri="/"/>
        <MenuItem Icon="videogame_asset" Text="Asset Explorer" Uri="/assets"/>
        @* <MenuItem Icon="folder_zip" Text="EARC Mods" Uri="/earc"/> *@
        <MenuItem Icon="share" Text="Sequence Editor" Uri="/sequenceeditor"></MenuItem>
        <div class="flex-grow"></div>
        <MenuItem Icon="menu_book" Text="Tutorials" Uri="/tutorials"/>
        <MenuItem Icon="map" Text="Roadmap" Uri="/roadmap"/>
        <MenuItem Icon="info_outline" Text="About" Uri="/about"/>
        <MenuItem Icon="settings" Text="Settings" Uri="/settings"/>
        <img @onclick="OpenDiscordLink" src="discord-button.png" class="p-2 rounded-md bg-grey-800 shadow-md mt-4 mx-4 cursor-pointer" style="max-width: 165px"/>
        <div class="p-4">
            <small class="text-grey-500">Flagrum v@(Version)</small>
        </div>
    </div>
</CascadingValue>

<Modal @ref="VersionNotesModal" Width="800" Height="600" Padding="0">
    <HeaderView>
        <span class="text-grey-300 flex-grow">Software Update</span>
        <span class="material-icons cursor-pointer" @onclick="() => VersionNotesModal.Close()">cancel</span>
    </HeaderView>
    <BodyView>
        <div class="h-full p-6 scrollbar-light" style="max-height: 100%; overflow-y: auto">
            <h3 class="text-grey-300 mb-6">Flagrum has been updated to @Version!</h3>
            <div class="bg-grey-900 rounded-md border border-grey-700 p-4">
                <h4 class="text-grey-300 mb-4">Flagrum 1.1.5</h4>
                <h5 class="text-grey-300 mb-4">Asset Explorer Game View</h5>
                <ul class="list-disc ml-6 mb-6">
                    <li>Allows for browsing game files without extraction (including preview of supported types)</li>
                    <li>Added "Export with Dependencies" option that exports models with all textures and materials</li>
                    <li>Added basic "Export" and "Export Folder" options for all file types</li>
                </ul>
                <h5 class="text-grey-300 mb-4">Modding</h5>
                <ul class="list-disc ml-6 mb-6">
                    <li>Fixed a bug where Model Replacement Mods were not rigging correctly</li>
                    <li>Fixed a bug where MRS textures were expressing their effects slightly inaccurately in-game</li>
                </ul>
            </div>

            <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6">
                <h4 class="text-grey-300 mb-4">Flagrum 1.1.4</h4>
                <h5 class="text-grey-300 mb-4">Modding</h5>
                <ul class="list-disc ml-6 mb-6">
                    <li>Support for materials update from Flagrum Blender 1.0.4</li>
                    <li>Support for custom normals from Flagrum Blender 1.0.4</li>
                </ul>
            </div>

            <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6">
                <h4 class="text-grey-300 mb-4">Flagrum 1.1.3</h4>
                <h5 class="text-grey-300 mb-4">Modding</h5>
                <ul class="list-disc ml-6 mb-6">
                    <li>
                        Support for increased
                        <Hyperlink Text="vertex weight limits" Uri="https://github.com/Kizari/Flagrum/wiki/Vertex-Weight-Limitations"/>
                        on meshes with materials that support it
                    </li>
                </ul>
            </div>

            <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6">
                <h4 class="text-grey-300 mb-4">Flagrum 1.1.2</h4>
                <h5 class="text-grey-300 mb-4">Modding</h5>
                <ul class="list-disc ml-6 mb-4">
                    <li>
                        Fixed a bug where parts of rigging could break on outfit mods when equipped on the older version
                        of the main characters
                    </li>
                </ul>
                <span class="block ml-6 mb-4" style="color: #ff0000">
                    <strong>Recommended Action:</strong>
                    If you have created any outfit mods, consider rebuilding them by opening the existing mod,
                    selecting &quot;Change Model,&quot; picking the same FMD you created the mod with, then
                    clicking &quot;Save&quot; to rebuild.
                </span>
                <ul class="list-disc ml-6 mb-4">
                    <li>Added glass materials to Flagrum and the Blender add-on</li>
                    <li>Added base material name to Asset Explorer's Material Previewer</li>
                    <li>Fixed an issue where Workshop Descriptions were only loading the first 256 characters</li>
                    <li>Finalised mod tags for Workshop upload</li>
                </ul>
                <span class="block ml-6" style="color: #ff0000">
                    <strong>Recommended Action:</strong>
                    If you have any Flagrum mods on Workshop, consider reuploading the existing mod to apply the correct
                    tags. This will ensure it appears in the new search functionality.
                </span>
                <h5 class="text-grey-300 mb-4 mt-6">Windows</h5>
                <ul class="list-disc ml-6 mb-4">
                    <li>
                        Fixed an issue where after updating, Flagrum would no longer nest under its shortcut icon when
                        pinned to the taskbar.
                    </li>
                </ul>
                <span class="block ml-6" style="color: #ff0000">
                    <strong>Recommended Action:</strong>
                    If you have Flagrum pinned to the taskbar, unpin and repin to resolve this issue for future updates.
                </span>
                <ul class="list-disc ml-6 mt-4">
                    <li>
                        Flagrum will now launch with a smaller window on screens with a resolution smaller than the
                        default window size
                    </li>
                </ul>
            </div>

            <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6">
                <h4 class="text-grey-300 mb-4">Flagrum 1.1.1</h4>
                <h5 class="text-grey-300 mb-4">Steam Workshop</h5>
                <ul class="list-disc ml-6 mb-6">
                    <li>Fixed a bug where Flagrum would crash when trying to upload an update to an existing Workshop Mod</li>
                    <li>Mods are now tagged based on their type and target</li>
                </ul>
                <h5 class="text-grey-300 mb-4">Minor</h5>
                <ul class="list-disc ml-6 mb-4">
                    <li>Hidden folders no longer appear in Asset Explorer to make it easier to navigate</li>
                </ul>
            </div>

            <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6">
                <h4 class="text-grey-300 mb-4">Flagrum 1.1.0</h4>
                <h5 class="text-grey-300 mb-4">Asset Explorer</h5>
                <span>
                    The Asset Explorer can be used to deal with FFXV assets from your local file system.<br/><br/>
                    Currently the Asset Explorer supports the ability to:
                </span>
                <ul class="list-disc ml-6 mb-4">
                    <li>Preview Game Textures</li>
                    <li>Inspect Game Materials (useful for adjusting Flagrum materials in Blender)</li>
                    <li>Export Game Textures to PNG, TGA, or DDS</li>
                    <li>Batch Export a folder, or many folders of Textures at once</li>
                </ul>
                <span>
                    New functionality will be added to the Asset Explorer in future updates.
                </span>
                <h5 class="text-grey-300 mt-6 mb-4">Steam Workshop</h5>
                <ul class="list-disc ml-6">
                    <li>
                        Preview Images will now be automatically compressed with the highest possible quality before
                        uploading to Workshop if the current preview image exceeds the size limit
                    </li>
                </ul>
            </div>
        </div>
    </BodyView>
</Modal>

@code
{
    private List<MenuItem> Items { get; set; } = new();
    private string Version { get; set; }
    private Modal VersionNotesModal { get; set; }

    protected override void OnInitialized()
    {
        var v = WpfService.GetVersion();
        Version = $"{v.Major}.{v.Minor}.{v.Build}";
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (Settings.LastVersionNotes != Version)
            {
                VersionNotesModal.Open();
                Settings.SetLastVersionNotes(Version);
            }
        }
    }

    public void AddItem(MenuItem item)
    {
        Items.Add(item);
    }

    public void SetActiveItem(MenuItem item)
    {
        foreach (var i in Items)
        {
            if (i == item)
            {
                i.Activate();
            }
            else
            {
                i.Deactivate();
            }
        }

        StateHasChanged();
    }

    private void OpenDiscordLink()
    {
        const string url = "https://discord.gg/7cNNwwJKsJ";
        Process.Start(new ProcessStartInfo(url)
        {
            UseShellExecute = true
        });
    }
}