<CascadingValue Value="this">
    <div class="h-full bg-dark flex-shrink-0 flex flex-col">
        <MenuItem Icon="apps" Text="Mod Library" DefaultActive="true" Uri="/"/>
        <MenuItem Icon="videogame_asset" Text="Asset Explorer" Uri="/assets"/>
        <MenuItem Icon="search" Text="File Inspector" Uri="/inspector"/>
        @* <MenuItem Icon="share" Text="Sequence Editor" Uri="/sequenceeditor"></MenuItem> *@
        <div class="flex-grow"></div>
        <MenuItem Icon="menu_book" Text="Tutorials" Uri="/tutorials"></MenuItem>
        <MenuItem Icon="settings" Text="Settings" Uri="/settings"></MenuItem>
    </div>
</CascadingValue>

@code
{
    private List<MenuItem> Items { get; set; } = new();

    public void AddItem(MenuItem item)
    {
        Items.Add(item);
    }

    public void SetActiveItem(MenuItem item)
    {
        foreach (var i in Items)
        {
            if (i == item)
            {
                i.Activate();
            }
            else
            {
                i.Deactivate();
            }
        }

        StateHasChanged();
    }
}