@inherits LayoutComponentBase

<div class="flex flex-row h-full">
    <MainMenu/>
    <div class="main-content-view flex-grow h-full bg-grey-900 overflow-auto">
        @Body
    </div>
</div>

@code
{

}