@inherits LayoutComponentBase
@inject AppStateService AppState
@inject SettingsService Settings

<div class="flex flex-row h-full">
    @if (Settings.IsReady)
    {
        <CascadingValue Value="this">
            <MainMenu/>
        </CascadingValue>
        <div class="main-content-view flex-grow h-full bg-grey-900 overflow-auto flex flex-col">
            @if (AppState.Node == null && IsReady)
            {
                <div class="row py-2 px-4 text-grey-400" style="background-color: rgba(5, 5, 1, 0.35)">
                    <LoadingIndicator/>
                    <span class="flex-grow">
                        Indexing game files, this may take several minutes, but will only need to happen once
                    </span>
                </div>
            }
            <div class="flex-grow bg-grey-900 overflow-auto flex flex-col">
                <CascadingValue Value="this">
                    @Body
                </CascadingValue>
            </div>
        </div>
    }
    else
    {
        <CascadingValue Value="this">
            <Flagrum.Web.Features.Settings.SettingsPage Warn="true"/>
        </CascadingValue>
    }
</div>

@code
{
    public bool IsReady { get; set; }

    public void CallStateHasChanged()
    {
        StateHasChanged();
    }
}