<h3 class="text-grey-300 mb-6">Flagrum has been updated to @Version!</h3>

<div class="bg-grey-900 rounded-md border border-grey-700 p-4">
    <h4 class="text-grey-300 mb-4">Flagrum 1.1.14</h4>
    <h5 class="text-grey-300 mb-4">Minor Improvements</h5>
    <ul class="list-disc ml-6 mb-6">
        <li>Blender Importers now handle both blue and yellow normal maps automatically</li>
        <li>Moving props are now exported when using the Export as Environment feature</li>
        <li>The asset list can now be navigated with the up/down arrows in Asset Explorer</li>
    </ul>
    <h5 class="text-grey-300 mb-4">Bug Fixes</h5>
    <ul class="list-disc ml-6 mb-6">
        <li>Fixed bug where Environment Import would fail due to UV scaling</li>
        <li>Fixed bug where Environment Exporter would occasionally crash Flagrum</li>
        <li>Fixed bug where multiple extensions would sometimes appear on exported models</li>
    </ul>
</div>

<div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6">
    <h4 class="text-grey-300 mb-4">Flagrum 1.1.13</h4>
    <h5 class="text-grey-300 mb-4">Asset Explorer</h5>
    <ul class="list-disc ml-6 mb-6">
        <li>Clickable link to EARC location now displayed above preview when a file is selected</li>
        <li>Selecting a gmdl.gfxbin file now displays material locations for each mesh</li>
        <li>Updated Environment Exporter/Importer to setup nodes for UV scaling</li>
    </ul>
    <h5 class="text-grey-300 mb-4">Bug Fixes</h5>
    <ul class="list-disc ml-6 mb-6">
        <li>Fixed bug where paths were not showing in the information window for custom presets</li>
        <li>Fixed bug where cloning a default preset would clone a custom preset instead</li>
        <li>Fixed bug where environment models without certain tags would fail to export</li>
        <li>Fixed bug where a couple of very rare materials would fail to read</li>
    </ul>
</div>

<div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6">
    <h4 class="text-grey-300 mb-4">Flagrum 1.1.12</h4>
    <h5 class="text-grey-300 mb-4">Bug Fixes</h5>
    <ul class="list-disc ml-6 mb-6">
        <li>Fixed bug where environment rotations were sometimes incorrect on some systems</li>
        <li>Fixed bug where Environment Exporter would sometimes crash Flagrum on some systems</li>
    </ul>
</div>

<div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6">
    <h4 class="text-grey-300 mb-4">Flagrum 1.1.11</h4>
    <h5 class="text-grey-300 mb-4">Minor Improvements</h5>
    <ul class="list-disc ml-6 mb-6">
        <li>Added automatic node setup for opacity mask textures</li>
        <li>Added notification for when environment exports are complete</li>
        <li>Added button to disconnect/reconnect all emission textures for rendering</li>
        <li>Enabled backface culling on all environment materials to improve performance</li>
        <li>Removed automatic node setup for emission on environments when texture is blank</li>
    </ul>
    <h5 class="text-grey-300 mb-4">Bug Fixes</h5>
    <ul class="list-disc ml-6 mb-6">
        <li>Fixed rotation issues with exported environments</li>
        <li>Fixed bug where environments would accumulate if not restarting between exports</li>
        <li>Fixed bug where environment export would crash when encountering an invalid URI</li>
        <li>Fixed bug where environment import would occasionally fail on certain textures</li>
        <li>Fixed bug where texture preview would crash Flagrum on File System view</li>
        <li>Fixed edge-case where certain imports would fail due to non-numeric vertex coords</li>
    </ul>
</div>

<div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6">
    <h4 class="text-grey-300 mb-4">Flagrum 1.1.10</h4>
    <h5 class="text-grey-300 mb-4">Bug Fixes</h5>
    <ul class="list-disc ml-6 mb-6">
        <li>Fixed bug where Export with Dependencies was failing for some models with 4K textures</li>
        <li>Fixed bug where Export Folder was failing on all folders</li>
        <li>Fixed bug where Export Folder was exporting files with their virtual extensions</li>
        <li>Fixed bug where exporting environments with model nodes without paths caused export to fail</li>
        <li>Fixed bug where rarely exporting multiple environments in same session would crash Flagrum</li>
    </ul>
</div>

<div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6">
    <h4 class="text-grey-300 mb-6">Flagrum 1.1.9</h4>
    <h3 class="text-grey-300 mb-2">Introducing the Environment Exporter!</h3>
    <span class="block mb-6">
        A great tool for exploring the world.
        <Hyperlink Text="Check it out" Uri="https://github.com/Kizari/Flagrum/wiki/Environment-Exporter"/>
        on the Flagrum Wiki!
    </span>
    <h5 class="text-grey-300 mb-4">Asset Explorer</h5>
    <ul class="list-disc ml-6 mb-6">
        <li>EXML files can now be exported as Flagrum Environment Data (FED)</li>
        <li>EXML files can now be exported to XML</li>
        <li>EXML files can now be previewed as their XML representation inside Flagrum</li>
        <li>Export with Dependencies on GFXBIN files now exports high res materials</li>
    </ul>
    <h5 class="text-grey-300 mb-4">Blender Add-on (please update to 1.0.9)</h5>
    <ul class="list-disc ml-6 mb-6">
        <li>Added support for importing Environment (FED) files</li>
        <li>GFXBIN and FED importers now automatically sets up materials and textures if they are present</li>
    </ul>
    <h5 class="text-grey-300 mb-4">Bug Fixes</h5>
    <ul class="list-disc ml-6 mb-6">
        <li>Fixed bug where 4K textures were not being exported via Export with Dependencies</li>
        <li>Fixed bug where some edge-case models could not be imported into Blender due to broken UV coordinates</li>
    </ul>
</div>

@* <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6"> *@
@*     <h4 class="text-grey-300 mb-4">Flagrum 1.1.8</h4> *@
@*     <h5 class="text-grey-300 mb-4">Bug Fixes</h5> *@
@*     <ul class="list-disc ml-6 mb-6"> *@
@*         <li>Fixed bug where Weapon Model Replacements were invisible in-game</li> *@
@*         <li>Fixed bug where editing Comrades mods after restarting Flagrum could break them</li> *@
@*         <li>Fixed bug where Comrades gear thumbnails were always invisible</li> *@
@*         <li>Fixed bug where Comrades Accessory mods were always invisible in-game</li> *@
@*     </ul> *@
@* </div> *@

@* <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6"> *@
@*     <h4 class="text-grey-300 mb-4">Flagrum 1.1.7</h4> *@
@*     <h5 class="text-grey-300 mb-4">Model Replacements</h5> *@
@*     <ul class="list-disc ml-6 mb-6"> *@
@*         <li>Added UI for creating custom model replacement presets</li> *@
@*         <li>Added ability to clone existing presets for quick editing of default presets</li> *@
@*         <li>Added ability to favourite presets for ease-of-access</li> *@
@*         <li>Added ability to edit and delete custom presets</li> *@
@*     </ul> *@
@*     <h5 class="text-grey-300 mb-4">Bug Fixes</h5> *@
@*     <ul class="list-disc ml-6 mb-6"> *@
@*         <li>Fixed bug where exporting with dependencies would crash if model had no high res textures</li> *@
@*         <li>Fixed edge-case where bugged MO mods with no images would not load for editing</li> *@
@*         <li>Fixed edge-case where Flagrum's default window spilled off the monitor on certain resolutions</li> *@
@*     </ul> *@
@* </div> *@

@* <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6"> *@
@*     <h4 class="text-grey-300 mb-4">Flagrum 1.1.6</h4> *@
@*     <h5 class="text-grey-300 mb-4">Bug Fixes</h5> *@
@*     <ul class="list-disc ml-6 mb-6"> *@
@*         <li>Fixed a bug where &quot;Export with Dependencies&quot; was not working with environment models</li> *@
@*         <li>Fixed a bug where the default fallback MRS texture was writing in the wrong texture format</li> *@
@*         <li>Fixed a bug with tags on custom model replacement presets</li> *@
@*     </ul> *@
@* </div> *@
@* *@
@* <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6"> *@
@*     <h4 class="text-grey-300 mb-4">Flagrum 1.1.5</h4> *@
@*     <h5 class="text-grey-300 mb-4">Asset Explorer Game View</h5> *@
@*     <ul class="list-disc ml-6 mb-6"> *@
@*         <li>Allows for browsing game files without extraction (including preview of supported types)</li> *@
@*         <li>Added "Export with Dependencies" option that exports models with all textures and materials</li> *@
@*         <li>Added basic "Export" and "Export Folder" options for all file types</li> *@
@*     </ul> *@
@*     <h5 class="text-grey-300 mb-4">Modding</h5> *@
@*     <ul class="list-disc ml-6 mb-6"> *@
@*         <li>Fixed a bug where Model Replacement Mods were not rigging correctly</li> *@
@*         <li>Fixed a bug where MRS textures were expressing their effects slightly inaccurately in-game</li> *@
@*     </ul> *@
@* </div> *@
@* *@
@* <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6"> *@
@*     <h4 class="text-grey-300 mb-4">Flagrum 1.1.4</h4> *@
@*     <h5 class="text-grey-300 mb-4">Modding</h5> *@
@*     <ul class="list-disc ml-6 mb-6"> *@
@*         <li>Support for materials update from Flagrum Blender 1.0.4</li> *@
@*         <li>Support for custom normals from Flagrum Blender 1.0.4</li> *@
@*     </ul> *@
@* </div> *@
@* *@
@* <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6"> *@
@*     <h4 class="text-grey-300 mb-4">Flagrum 1.1.3</h4> *@
@*     <h5 class="text-grey-300 mb-4">Modding</h5> *@
@*     <ul class="list-disc ml-6 mb-6"> *@
@*         <li> *@
@*             Support for increased *@
@*             <Hyperlink Text="vertex weight limits" Uri="https://github.com/Kizari/Flagrum/wiki/Vertex-Weight-Limitations"/> *@
@*             on meshes with materials that support it *@
@*         </li> *@
@*     </ul> *@
@* </div> *@
@* *@
@* <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6"> *@
@*     <h4 class="text-grey-300 mb-4">Flagrum 1.1.2</h4> *@
@*     <h5 class="text-grey-300 mb-4">Modding</h5> *@
@*     <ul class="list-disc ml-6 mb-4"> *@
@*         <li> *@
@*             Fixed a bug where parts of rigging could break on outfit mods when equipped on the older version *@
@*             of the main characters *@
@*         </li> *@
@*     </ul> *@
@*     <span class="block ml-6 mb-4" style="color: #ff0000"> *@
@*         <strong>Recommended Action:</strong> *@
@*         If you have created any outfit mods, consider rebuilding them by opening the existing mod, *@
@*         selecting &quot;Change Model,&quot; picking the same FMD you created the mod with, then *@
@*         clicking &quot;Save&quot; to rebuild. *@
@*     </span> *@
@*     <ul class="list-disc ml-6 mb-4"> *@
@*         <li>Added glass materials to Flagrum and the Blender add-on</li> *@
@*         <li>Added base material name to Asset Explorer's Material Previewer</li> *@
@*         <li>Fixed an issue where Workshop Descriptions were only loading the first 256 characters</li> *@
@*         <li>Finalised mod tags for Workshop upload</li> *@
@*     </ul> *@
@*     <span class="block ml-6" style="color: #ff0000"> *@
@*         <strong>Recommended Action:</strong> *@
@*         If you have any Flagrum mods on Workshop, consider reuploading the existing mod to apply the correct *@
@*         tags. This will ensure it appears in the new search functionality. *@
@*     </span> *@
@*     <h5 class="text-grey-300 mb-4 mt-6">Windows</h5> *@
@*     <ul class="list-disc ml-6 mb-4"> *@
@*         <li> *@
@*             Fixed an issue where after updating, Flagrum would no longer nest under its shortcut icon when *@
@*             pinned to the taskbar. *@
@*         </li> *@
@*     </ul> *@
@*     <span class="block ml-6" style="color: #ff0000"> *@
@*         <strong>Recommended Action:</strong> *@
@*         If you have Flagrum pinned to the taskbar, unpin and repin to resolve this issue for future updates. *@
@*     </span> *@
@*     <ul class="list-disc ml-6 mt-4"> *@
@*         <li> *@
@*             Flagrum will now launch with a smaller window on screens with a resolution smaller than the *@
@*             default window size *@
@*         </li> *@
@*     </ul> *@
@* </div> *@
@* *@
@* <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6"> *@
@*     <h4 class="text-grey-300 mb-4">Flagrum 1.1.1</h4> *@
@*     <h5 class="text-grey-300 mb-4">Steam Workshop</h5> *@
@*     <ul class="list-disc ml-6 mb-6"> *@
@*         <li>Fixed a bug where Flagrum would crash when trying to upload an update to an existing Workshop Mod</li> *@
@*         <li>Mods are now tagged based on their type and target</li> *@
@*     </ul> *@
@*     <h5 class="text-grey-300 mb-4">Minor</h5> *@
@*     <ul class="list-disc ml-6 mb-4"> *@
@*         <li>Hidden folders no longer appear in Asset Explorer to make it easier to navigate</li> *@
@*     </ul> *@
@* </div> *@
@* *@
@* <div class="bg-grey-900 rounded-md border border-grey-700 p-4 mt-6"> *@
@*     <h4 class="text-grey-300 mb-4">Flagrum 1.1.0</h4> *@
@*     <h5 class="text-grey-300 mb-4">Asset Explorer</h5> *@
@*     <span> *@
@*         The Asset Explorer can be used to deal with FFXV assets from your local file system.<br/><br/> *@
@*         Currently the Asset Explorer supports the ability to: *@
@*     </span> *@
@*     <ul class="list-disc ml-6 mb-4"> *@
@*         <li>Preview Game Textures</li> *@
@*         <li>Inspect Game Materials (useful for adjusting Flagrum materials in Blender)</li> *@
@*         <li>Export Game Textures to PNG, TGA, or DDS</li> *@
@*         <li>Batch Export a folder, or many folders of Textures at once</li> *@
@*     </ul> *@
@*     <span> *@
@*         New functionality will be added to the Asset Explorer in future updates. *@
@*     </span> *@
@*     <h5 class="text-grey-300 mt-6 mb-4">Steam Workshop</h5> *@
@*     <ul class="list-disc ml-6"> *@
@*         <li> *@
@*             Preview Images will now be automatically compressed with the highest possible quality before *@
@*             uploading to Workshop if the current preview image exceeds the size limit *@
@*         </li> *@
@*     </ul> *@
@* </div> *@

@code
{
    [Parameter]
    public string Version { get; set; }
}