@using Flagrum.Web.Features.AssetExplorer.Data
@inherits AssetExplorerComponent

<div class="bg-grey-900 border-t border-b border-r border-dark-550 flex flex-col" style="flex: 0 0 315px;">
    <div class="row border-b border-dark-550 px-4 py-3 bg-dark">
        <strong class="font-display flex-grow">@AppState.Node.Name</strong>
        <span class="material-icons select-none cursor-pointer" style="font-size: 0.9rem" @onclick="() => Parent.RegenerateModal?.Open()">settings</span>
    </div>
    @if (Parent.CurrentView == AssetExplorerView.FileSystem || AppState.Node != null)
    {
        <CascadingValue Value="Parent">
            <ExplorerView Node="AppState.Node"/>
        </CascadingValue>
    }
    else
    {
        <span class="block py-1 px-3">
            @Localizer["WaitFileIndexing"]<br/><br/>
            <em>@Localizer["PleaseWait"]</em>
        </span>
    }
</div>