@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
@import "reset";
@import "typography";
@import "Components/node";
@import "Components/switch";
@import "Components/indicator";
}

@layer utilities {
    .flex-expand {
        flex: 1 0 auto;
    }

    .hyperlink {
        @apply text-accent1-200 mt-2 inline-block underline cursor-pointer hover:text-white;
    }

    .glow {
        box-shadow: 0 0 3px 4px #783b4a;
        -webkit-box-shadow: 0 0 3px 4px #783b4a;
        -moz-box-shadow: 0 0 3px 4px #783b4a;
    }

    .row {
        @apply flex flex-row items-center;
    }

    .box {
        @apply bg-dark rounded shadow-md;
    }

    .input {
        @apply bg-dark-550 m-0 p-2 text-grey-400 rounded-md;
        outline: none;
    }

    .min-w-400 {
        min-width: 400px;
    }

    .min-h-300 {
        min-height: 300px;
    }

    .right-align-all-labels td {
        text-align: right;
    }

    div::-webkit-scrollbar {
        width: 12px;
    }

    div::-webkit-scrollbar-track {
        width: 12px;
        @apply bg-dark;
    }

    div::-webkit-scrollbar-thumb {
        width: 8px;
        @apply bg-grey-800 rounded-t-full rounded-b-full;
    }

    textarea::-webkit-scrollbar {
        width: 12px;
    }

    textarea::-webkit-scrollbar-track {
        width: 12px;
        @apply bg-dark;
    }

    textarea::-webkit-scrollbar-thumb {
        width: 8px;
        @apply bg-grey-800 hover:bg-grey-700 rounded-t-full rounded-b-full;
    }
}