@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Play&family=Material+Icons&family=Material+Icons+Outlined&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
@import "reset";
@import "typography";
@import "Components/node";
@import "Components/switch";
@import "Components/indicator";
}

@layer utilities {
    .flex-expand {
        flex: 1 0 auto;
    }

    .glow {
        box-shadow: 0 0 3px 4px #783b4a;
        -webkit-box-shadow: 0 0 3px 4px #783b4a;
        -moz-box-shadow: 0 0 3px 4px #783b4a;
    }

    .row {
        @apply flex flex-row items-center;
    }

    .box {
        @apply border border-grey-800 bg-dark rounded;
    }

    .min-w-400 {
        min-width: 400px;
    }

    .min-h-300 {
        min-height: 300px;
    }

    .right-align-all-labels td {
        text-align: right;
    }

    .main-content-view::-webkit-scrollbar {
        width: 15px;
    }

    .main-content-view::-webkit-scrollbar-track {
        @apply bg-dark;
    }

    .main-content-view::-webkit-scrollbar-thumb {
        @apply bg-dark-600;
    }
}