@page "/sequenceeditor"

<div class="flex-grow h-full flex flex-row">
    <NodeExplorer/>
    <div class="flex-grow" style="width: 100%; height: 100%;">
        <CascadingValue Value="Diagram">
            <DiagramCanvas Class="grid"/>
        </CascadingValue>
    </div>
</div>