@page "/node"
@page "/node/{UriBase64}"

<CascadingValue Value="Diagram">
    <div class="flex-grow h-full flex flex-row">
        <NodeExplorer/>
        <div class="flex-grow" style="width: 100%; height: 100%;">
            <DiagramCanvas Class="grid"/>
        </div>
    </div>
</CascadingValue>