@using Flagrum.Web.Features.AssetExplorer.Data
@if (Item?.Type == ExplorerItemType.Texture)
{
    <TexturePreview Item="Item"/>
}
else if (Item?.Type == ExplorerItemType.Material)
{
    <MaterialPreview Item="Item"/>
}
else if (Item?.Type == ExplorerItemType.Model)
{
    <ModelPreview Item="Item"/>
}
else
{
    <div class="flex-grow flex flex-row items-center">
        <div class="mx-auto">
            <strong class="text-grey-500">
                Currently supports Textures (.btex) and Materials (.gmtl.gfxbin)
            </strong>
        </div>
    </div>
}

@code
{
    [Parameter]
    public AssetExplorerItem Item { get; set; }
}