@using Flagrum.Web.Features.AssetExplorer.Data
@inject FlagrumDbContext Context
@inject IStringLocalizer<Preview> L

@if (Item?.Type == ExplorerItemType.Texture)
{
    <TexturePreview Item="Item"/>
}
else if (Item?.Type == ExplorerItemType.Material)
{
    <MaterialPreview Item="Item"/>
}
else if (Item?.Type == ExplorerItemType.Xml)
{
    <XmlPreview Item="Item"/>
}
else if (Item?.Type == ExplorerItemType.Text)
{
    <TextPreview Item="Item"/>
}
else if (Item?.Type == ExplorerItemType.Model)
{
    <ModelPreview Item="Item"/>
}
else
{
    <div class="flex-grow flex flex-row items-center">
        <div class="mx-auto">
            <strong class="text-grey-500">
                @L["NoPreview"]
            </strong>
        </div>
    </div>
}

@code
{
    [Parameter]
    public AssetExplorerItem Item { get; set; }
}