@using Flagrum.Web.Features.AssetExplorer.Data
@using System.Text
@using Flagrum.Core.Ebex.Xmb2
<div class="p-6">
    <div class="box p-4">
        @foreach (var line in Lines)
        {
            <span class="block">@line</span>
        }
    </div>
</div>

@code
{
    private AssetExplorerItem _previousItem;

    private List<string> Lines { get; set; }

    [Parameter]
    public AssetExplorerItem Item { get; set; }

    protected override void OnParametersSet()
    {
        if (_previousItem == Item)
        {
            return;
        }

        var xmb2 = Item.Data();
        var stringBuilder = new StringBuilder();
        Xmb2Document.Dump(xmb2, stringBuilder);
        Lines = stringBuilder.ToString().Replace(" ", "\u00A0").Split('\n').ToList();
        StateHasChanged();
    }
}