@page "/about"

<div class="py-8 px-10" style="max-width: 800px">
    <h2 class="text-grey-300 mb-2">We are Exineris</h2>
    <span>
        Exineris is a modding and development team founded mid-2021 that aims to improve and
        further the state of modding and mod tools for FFXV.
    </span>

    <h4 class="text-grey-300 mt-10 mb-2">About Flagrum</h4>
    <span>
        Flagrum was conceived as the brainchild of Kizari and ImpatientTraveler as an all-in-one
        replacement for the existing mod tools. With the poor state modding tools were left in with
        development on FFXV ceased, we realised there was a dire need to improve upon the existing
        mod tools to fix the &quot;sin skin&quot; issues and enable full-functionality for models.<br/><br/>
        Our goals with Flagrum are to:
        <ul class="list-disc">
            <li class="ml-8">Improve upon and streamline the existing modding process</li>
            <li class="ml-8">Make modding FFXV more accessible and less time consuming</li>
            <li class="ml-8">Fix glaring issues with the previous mod tooling (sin skin, lack of support for model data and proper materials/shaders)</li>
            <li class="ml-8">Build a quality foundation and set a precedent for the ongoing development of modding tools</li>
        </ul>
    </span>

    <h4 class="text-grey-300 mt-10 mb-2">Join the Cause</h4>
    <span>
        We are always looking for developers and artists to join in the good fight. Unfortunately with
        official tooling and support being cancelled, we need as much help as we can get to continue
        taking FFXV modding to the next level. Come say hi in the Exineris Discord and let us know
        you want to help.
    </span>

    @* <h4 class="text-grey-300 mt-10 mb-2">Want to Support Us?</h4> *@
    @* <span> *@
    @*     These tools take a monumental amount of time and effort to develop. We are all volunteers and *@
    @*     we believe the modding tools should be free and open-source to all. If you want to help *@
    @*     support the ongoing development of Flagrum and our other projects, please consider donating. *@
    @* </span> *@
</div>