@using Flagrum.Web.Persistence.Entities
@using Flagrum.Web.Features.AssetExplorer.Data
@inject SettingsService Settings

<div class="row py-1 pr-2 pl-4 transition-colors hover:bg-grey-700 select-none cursor-pointer"
     @onclick="() => OnClick(Node)">
    <span class="material-icons text-sm">@Icon</span>
    <span class="pl-2 flex-grow text-sm" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@Node.Name</span>
</div>

@code
{
    [CascadingParameter]
    public UriSelectModal Parent { get; set; }

    private AssetExplorerNode _node;

    [Parameter]
    public AssetExplorerNode Node
    {
        get => _node;
        set 
        { 
            _node = value;
            using var context = new FlagrumDbContext(Settings);
            Icon = AssetExplorerItem.GetIcon(_node.GetUri(context));
        }
    }

    private string Icon { get; set; }

    private void OnClick(AssetExplorerNode node)
    {
        Parent.SetNode(node);
    }
}