@using Flagrum.Web.Persistence.Entities
@using Flagrum.Web.Features.AssetExplorer.Data
@inject FlagrumDbContext Context
@inject SettingsService Settings

<div class="row py-1 pr-2 pl-4 transition-colors hover:bg-grey-700 select-none cursor-pointer"
     @onclick="() => OnClick(Node)">
    <span class="material-icons text-sm">@AssetExplorerItem.GetIcon(Node.GetUri(Context))</span>
    <span class="pl-2 flex-grow text-sm" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@AssetExplorerItem.GetDisplayName(Node.Name, AssetExplorerItem.GetType(Node.GetUri(Context)))</span>
</div>

@code
{
    [CascadingParameter]
    public Index Parent { get; set; }

    [Parameter]
    public AssetExplorerNode Node { get; set; }

    private void OnClick(AssetExplorerNode node)
    {
        if (Context.AssetExplorerNodes.Any(n => n.ParentId == node.Id))
        {
            Parent.SetNode(node);
        }
        else
        {
            Parent.SetSelectedItem(AssetExplorerItem.FromNode(node, Context));
        }
    }
}