<div class="h-full self-center pr-2 @(IsLoading ? "row" : "hidden")">
    <div class="flex flex-col items-center">
        <div class="continuous-3"></div>
        <span class="block text-accent1-200 font-display font-bold mt-4 mr-2">@Text</span>
    </div>
</div>
<div class="@CssClass @(IsLoading ? "hidden" : "block")">
    @ChildContent
</div>

@code
{
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string CssClass { get; set; }
}