@using System.Diagnostics
@inject JSInterop Interop

<div id="@_id" class="inline-block @CssClass" @onclick="OnClick">

</div>

@code
{
    private readonly string _id = Guid.NewGuid().ToString();

    [Parameter] public string CssClass { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Interop.InitialiseBmcButton(_id);
        }
    }

    private void OnClick()
    {
        Process.Start(new ProcessStartInfo("https://buymeacoffee.com/Exineris")
        {
            UseShellExecute = true
        });
    }
}