<div class="@(IsDisabled ? "bg-grey-800 text-grey-400" : "bg-accent2-900 text-grey-100 hover:bg-accent2-700") pl-1 pr-1.5 pt-1 pb-0.5 inline-flex flex-row items-center rounded flex-shrink-0 cursor-pointer @CssClass"
     @onclick="HandleClick">
    <div>
        <span class="material-icons-outlined text-sm">@Icon</span>
    </div>
    <div class="flex-grow pl-1 pb-0.5 text-sm font-bold">
        @Text
    </div>
</div>

@code
{
    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public Action OnClick { get; set; }

    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    private void HandleClick()
    {
        if (!IsDisabled)
        {
            OnClick();
        }
    }
}