@using System.Diagnostics
<span @onclick="OnClick" class="hyperlink">@Text</span>

@code
{
    [Parameter] public string Text { get; set; }
    [Parameter] public string Uri { get; set; }
    
    private void OnClick()
    {
        Process.Start(new ProcessStartInfo(Uri)
        {
            UseShellExecute = true
        });
    }
}
