@page "/"

<div style="display: flex; flex-direction: row; height: 100%;">
    <div style="flex: 0 0 auto; display: flex; flex-direction: column; background: #111; height: 100%;">
        <div style="flex: 0 0 auto; padding: 2px;">
            <div style="background-color: #262626; color: #B7410E; border-radius: 0.3em; padding: 8px;">
                Model Manager
            </div>
        </div>
        <div style="flex: 0 0 auto; padding: 2px;">
            <div style="background-color: #262626; color: #B7410E; border-radius: 0.3em; padding: 8px;">
                Archive Manager
            </div>
        </div>
        <div style="flex: 0 0 auto; padding: 2px;">
            <div style="background-color: #262626; color: #B7410E; border-radius: 0.3em; padding: 8px;">
                File Inspector
            </div>
        </div>
    </div>
    <div style="flex: 1 1 auto; align-items: center; text-align: center; height: 100%;">
        @*<img src="/flagrum.png" style="max-width: 100%; margin-top: 90px;" />*@
    </div>
</div>

