@page "/new"
@using Flagrum.Archiver.Binmod.Data

<div class="flex-grow h-full p-6">
    <div class="box row p-4 text-grey-300 mb-6">
        <div class="flex-grow pr-3 pb-1 pl-2">
            Select the Mod to manage
        </div>
        <div>
            <Button Icon="folder" Text="Browse" />
        </div>
    </div>

    <div class="box">
        <div class="row p-4 text-grey-300 border-b border-grey-800">
            <div class="flex-grow pr-3 pb-1 pl-2 font-display text-accent1-200 font-bold">
                Boye.fmd
            </div>
            <div class="pr-3">
                <Button Icon="add" Text="Apply to Game" />
            </div>
            <div>
                <Button Icon="upload" Text="Upload to Workshop" />
            </div>
        </div>
        <div class="p-4">
            <table class="w-full right-align-all-labels">
                <tr>
                    <td><label>TITLE</label></td>
                    <td colspan="7" class="pl-4"><Textbox Size="Textbox.Variant.Stretch" @bind-Value="Modmeta.Title" /></td>
                </tr>
                <tr>
                    <td><label>DESCRIPTION</label></td>
                    <td colspan="7" class="pl-4"><Textbox Size="Textbox.Variant.Stretch" @bind-Value="Modmeta.Description" /></td>
                </tr>
                <tr>
                    <td class="py-4"><label>TARGET</label></td>
                    <td class="py-4 pl-4" colspan="3"><EnumSelect @bind-Value="Modmeta.Target" /></td>
                    <td class="py-4"><label>MAX HP</label></td>
                    <td class="py-4"><NumberBox @bind-Value="Modmeta.MaxHp" /></td>
                    <td class="py-4"><label>MAX MP</label></td>
                    <td class="py-4"><NumberBox @bind-Value="Modmeta.MaxMp" /></td>
                </tr>
                <tr>
                    <td><label>STRENGTH</label></td>
                    <td><NumberBox @bind-Value="Modmeta.Strength" /></td>
                    <td><label>VITALITY</label></td>
                    <td><NumberBox @bind-Value="Modmeta.Vitality" /></td>
                    <td><label>MAGIC</label></td>
                    <td><NumberBox @bind-Value="Modmeta.Magic" /></td>
                    <td><label>SPIRIT</label></td>
                    <td><NumberBox @bind-Value="Modmeta.Spirit" /></td>
                </tr>
                <tr>
                    <td><label>FIRE RES</label></td>
                    <td><NumberBox @bind-Value="Modmeta.Fire" /></td>
                    <td><label>ICE RES</label></td>
                    <td><NumberBox @bind-Value="Modmeta.Ice" /></td>
                    <td><label>THUNDER RES</label></td>
                    <td><NumberBox @bind-Value="Modmeta.Thunder" /></td>
                    <td><label>DARK RES</label></td>
                    <td><NumberBox @bind-Value="Modmeta.Dark" /></td>
                </tr>
                <tr>
                    <td><label>BALLISTIC RES</label></td>
                    <td><NumberBox @bind-Value="Modmeta.Ballistic" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>

@code
{
    private Modmeta Modmeta { get; set; } = new();
}