@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Play&family=Material+Icons&family=Material+Icons+Outlined&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import "reset";
    @import "typography";
    @import "Components/node";
}

@layer utilities {
    .flex-expand {
        flex: 1 0 auto;
    }

    .glow {
        box-shadow: 0 0 5px 4px #ccffff;
        -webkit-box-shadow: 0 0 5px 4px #ccffff;
        -moz-box-shadow: 0 0 5px 4px #ccffff;
    }

    .min-w-400 { min-width: 400px; }
    .min-h-300 { min-height: 300px; }
}