@inject AppStateService AppState
@inject NavigationManager Navigation
@inject IStringLocalizer<NewCard> L

<div class="mod-listing-card shadow-lg mx-2.5 mt-6 bg-grey-800 transition-opacity transition-transform transition-shadow transform hover:scale-105 cursor-pointer hover:shadow-xl"
     @onclick="Create">
    <div class="bg-dark-550">
        <div style="position:relative;width:178px;height:178px;background-repeat: no-repeat; background-size: contain; background-position: center;" class="text-center bg-dark-550 pt-14">
            <span class="text-7xl material-icons mb-0 text-grey-500 block">add</span>
            <span class="text-grey-500 text-lg font-display">@L["NewMod"]</span>
        </div>
    </div>
    <div class="py-3 px-2.5 row bg-dark-550">
        <span class="text-sm flex-grow text-dark-550"
              style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 156px;">
            @L["NewMod"]
        </span>
    </div>
</div>

@code
{
    private void Create()
    {
        AppState.ActiveMod = null;
        Navigation.NavigateTo("/mod/configure");
    }
}